body,
header,
main,
footer,
aside,
section,
form,
input,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  --primary-dark: hsl(240, 5%, 5%);
  --primary-75: hsl(240, 60%, 75%);
  --primary-lighter-25: hsl(240, 25%, 90%);
  --secondary-lighter: hsl(180, 50%, 85%);
  --secondary-lighter-25: hsl(180, 25%, 90%);
  --secondary: hsl(180, 60%, 50%);
  --warning-75: hsl(60, 100%, 75%);
  --error-dark: hsl(0, 100%, 5%);
  --error-75: hsl(0, 100%, 75%);
  --error-light: hsl(0, 100%, 95%);
  --success-75: hsl(120, 100%, 75%);
}

body {
  color: var(--primary-dark);
  background-color: var(--secondary);
  font-size: calc(10px + 2vmin);
}

#root {
  width: 100vw;
  height: 100vh;
  background: var(--primary-lighter-25);
}
